a {
  text-decoration: none;

  color: var(--primary);

  &:hover {
    color: var(--info);
  }
}

blockquote {
  padding: 0 1em;

    color: var(--primary);

    @include ltr {
      border-left: var(--border);
    }

    @include rtl {
      border-right: var(--border);
    }
}

p {
  line-height: 1.9em;
}
