@charset "UTF-8";

.sidebar {
    width: 100%;
    min-height: 420px;
    justify-content: flex-end;
    height: auto;
    position: absolute;
    border-right: none;
    z-index: 1;
}

.sidebar .logo-title .title img {
    width: 100px;
}

.sidebar .logo-title .title h3 {
    font-size: 20px;
}

.page-top {
    width: 100%;
}

.post-title h3 {
    line-height: 1.6;
}

.content {
    margin-top: 420px;
    width: 100%;
    z-index: 2;
    position: absolute;
}

.post figure.right {
    float: unset;
    max-width: 100%;
    margin: 0;
}

.post figure.left {
    float: unset;
    max-width: 100%;
    margin: 0;
}

.footer {
    display: none;
}

.page-top .nav {
    background-color: var(--secondary-bg-color);
    box-shadow: 0 8px 16px rgba(10, 10, 10, .1);
    padding: .5rem 0;
    width: 100%;
    display: none;
    margin-top: 0px;
}

.page-top .nav.is-active {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

@media screen and (min-width: 660px) {
    .page-top .nav.is-active {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: space-evenly;
    }
}

.theme-switch-item {
    order: 5;
}

.page-top .nav li {
    line-height: 2.5;
    margin: .5rem .75rem;
    position: relative;
    text-transform: uppercase;
    font-size: 1.3em;
}

#active-lang::after,
.page-top .nav a.current::after {
    bottom: 0px;
}

.navbar-burger {
    cursor: pointer;
    display: block;
    height: 3.25rem;
    position: relative;
    width: 3.25rem;
    margin-left: auto;
}

.navbar-burger span {
    background-color: var(--heading-color);
    display: block;
    height: 1px;
    left: calc(50% - 8px);
    position: absolute;
    transform-origin: center;
    transition-duration: 86ms;
    transition-property: background-color, opacity, transform;
    transition-timing-function: ease-out;
    width: 16px;
}

.navbar-burger span:nth-child(1) {
    top: calc(50% - 6px);
}

.navbar-burger span:nth-child(2) {
    top: calc(50% - 1px);
}

.navbar-burger span:nth-child(3) {
    top: calc(50% + 4px);
}

.theme-switch-item {
    float: none;
}

.list-with-title .listing .listing-post .post-time {
    max-width: 20%;
}

.list-with-title .listing .listing-post a {
    width: 80%;
}

.language-menu {
    float: none;
}

#qr-code {
    display: none;
}

#active-lang {
    padding: 0;
}

@media print {
    .page-top {
        display: none;
    }
}