.archive {
  margin: 30px;

  &__heading {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 2.2em;

      color: var(--primary);
  }

  &__list {
    padding: 0;

    &-item {
      display: flex;
      justify-content: space-between;
      padding-bottom: 5px;
      list-style-type: none;
    }

    &-date {
      text-align: right;

        color: var(--primary-light);
    }

    &-title {
      display: inline-block;
      flex: 0.96;
      text-transform: uppercase;

        color: var(--primary);
      &:hover {
          color: var(--info);
      }
    }
  }
}
