.category {
  padding: 4px 6px;
  border-radius: 2px;
  display: inline-block;
  font-size: 1.4rem;

    border: var(--border);
    background-color: var(--primary-lighter);
    color: var(--primary) !important;

  @include ltr {
    margin: 5px 8px 5px 0;
  }

  @include rtl {
    margin: 5px 0 5px 8px;
  }
}
