.notice {
  display: flex;
  flex-direction: column;

    //background-color: mix(var(--info), var(--accent), 40%);

  &--update {
      //background-color: mix(var(--success), var(--accent), 40%);
  }

  &--warning {
      //background-color: mix(var(--danger), var(--accent), 40%);
  }

  &__title {
    background-color: var(--info);
    align-self: flex-end;
    font-weight: 300;
    letter-spacing: 0.025em;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;

      color: var(--accent);

    &--update {
      background-color: var(--success);
    }

    &--warning {
      background-color: var(--danger);
    }
  }

  &__content {
    padding: 8px 8px 1rem 1rem;
  }
}
